/* Main container - set the width of the element; */
.container {
  position: relative;
  width: 100%;
}

/* Stretch the select to overlay the component and hide it */
.select-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 165%;
  width: 100%;
  opacity: 0;
  max-height: 350px;
  cursor: pointer;
}

/* 
  The label containing all our custom components 
  Style however you want
*/
.custom {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* padding: 12px; */
  /* border: 1px solid #ccc; */
  width: 100%;
  font-size: 3rem;
  border-radius: 6px;
  /* background: linear-gradient(to bottom, #fff, #f6f6f6); */
}
.custom strong {
  /* color: darkcyan; */
  font-size: 0.93rem;
  font-weight: 700;
}

/* Style our element container when the select is focused or hovered */
.select-overlay:focus + .custom {
  /* outline: 2px solid #32a1ce; */
}
.select-overlay:hover + .custom {
  /* border: 1px solid #9a9a9a; */
}

/* 
  Add spacing between all of the children 
  If you don't know how this works, check out the lobotomized owl selector:
  https://pineco.de/get-to-know-the-lobotomized-owl-selector/
*/
.custom * + * {
  margin-left: 7px;
}
